<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Fragmento de scripts para páginas generales -->
    <div th:fragment="foot">
        <!-- JAVASCRIPT -->
        <!-- jQuery -->
        <script th:src="@{/superadmin/assets/libs/jquery/jquery.min.js}"></script>

        <!-- Bootstrap Bundle -->
        <script th:src="@{/superadmin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Metismenu -->
        <script th:src="@{/superadmin/assets/libs/metismenu/metisMenu.min.js}"></script>

        <!-- Simplebar -->
        <script th:src="@{/superadmin/assets/libs/simplebar/simplebar.min.js}"></script>

        <!-- Node Waves -->
        <script th:src="@{/superadmin/assets/libs/node-waves/waves.min.js}"></script>

        <!-- ParsleyJS -->
        <script th:src="@{/superadmin/assets/libs/parsleyjs/parsley.min.js}"></script>

        <!-- Select2 -->
        <script th:src="@{/superadmin/assets/libs/select2/js/select2.min.js}"></script>

        <!-- Spectrum Colorpicker -->
        <script th:src="@{/superadmin/assets/libs/spectrum-colorpicker2/spectrum.min.js}"></script>

        <!-- Bootstrap Touchspin -->
        <script th:src="@{/superadmin/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js}"></script>

        <!-- Bootstrap Maxlength -->
        <script th:src="@{/superadmin/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js}"></script>

        <!-- Form Advanced Init -->
        <script th:src="@{/superadmin/assets/js/pages/form-advanced.init.js}"></script>

        <!-- Form Validation Init -->
        <script th:src="@{/superadmin/assets/js/pages/form-validation.init.js}"></script>

        <!-- DataTables -->
        <script th:src="@{/superadmin/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>

        <!-- Responsive DataTable Examples -->
        <script th:src="@{/superadmin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

        <!-- DataTables Buttons -->
        <script th:src="@{/superadmin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/jszip/jszip.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>

        <!-- DataTables KeyTable -->
        <script th:src="@{/superadmin/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
        <script th:src="@{/superadmin/assets/libs/datatables.net-select/js/dataTables.select.min.js}"></script>

        <!-- Dashboard Init -->
        <script th:src="@{/superadmin/assets/js/pages/dashboard.init.js}"></script>

        <!-- App JS -->
        <script th:src="@{/superadmin/assets/js/app.js}"></script>

    </div>
</html>