<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footList">
    <!-- jQuery -->
    <script th:src="@{/admin/assets/libs/jquery/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- MetisMenu -->
    <script th:src="@{/admin/assets/libs/metismenu/metisMenu.min.js}"></script>
    <!-- Simplebar -->
    <script th:src="@{/admin/assets/libs/simplebar/simplebar.min.js}"></script>
    <!-- Waves -->
    <script th:src="@{/admin/assets/libs/node-waves/waves.min.js}"></script>

    <!-- ApexCharts -->
    <script th:src="@{/admin/assets/libs/apexcharts/apexcharts.min.js}"></script>

    <!-- VectorMap -->
    <script th:src="@{/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/admin/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>

    <!-- Plugins -->
    <script th:src="@{/admin/assets/libs/moment/min/moment.min.js}"></script>
    <script th:src="@{/admin/assets/libs/jquery-ui-dist/jquery-ui.min.js}"></script>
    <script th:src="@{/admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <!-- DataTables Buttons -->
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/admin/assets/libs/jszip/jszip.min.js}"></script>
    <script th:src="@{/admin/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/admin/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-select/js/dataTables.select.min.js}"></script>



    <!-- App js -->
    <script th:src="@{/superadmin/assets/js/app.js}"></script>

    <!-- Flatpickr init -->
    <script>
        flatpickr("#inicio", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });
        flatpickr("#fin", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });
    </script>

    <!-- DataTable init -->
    <script>
        $(document).ready(function () {
            $('#establecimientosTable').DataTable({
                scrollX: true,
                responsive: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'csv', 'pdf'],
                keyTable: true
            });
        });
    </script>
</div>
</html>