<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento de scripts para páginas generales -->
<div th:fragment="footPage">
    <!-- JAVASCRIPT -->
    <script th:src="@{/admin/assets/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/assets/libs/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/admin/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/admin/assets/libs/node-waves/waves.min.js}"></script>

    <!-- plugin js -->
    <script th:src="@{/admin/assets/libs/moment/min/moment.min.js}"></script>
    <script th:src="@{/admin/assets/libs/jquery-ui-dist/jquery-ui.min.js}"></script>
    <!--
    <script th:src="@{/admin/assets/libs/@fullcalendar/core/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/bootstrap/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/daygrid/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/timegrid/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/interaction/main.min.js}"></script>
    -->

    <script th:src="@{/admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <!-- Calendar init -->
    <script th:src="@{/admin/assets/js/pages/calendar.init.js}"></script>

    <script th:src="@{/admin/assets/js/app.js}"></script>

    <!-- FLATPICKR JS local -->
    <script th:src="@{/admin/assets/js/flatpickr.min.js}"></script>
    <script>
        flatpickr("#inicio", {
            enableTime: true,
            dateFormat: "H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });

        flatpickr("#fin", {
            enableTime: true,
            dateFormat: "H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });
    </script>


</div>
</html>

<!--

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/headPage :: headPage(title='Mi Página')}"></head>
<body>

<input type="text" id="inicio">
<input type="text" id="fin">


<div th:replace="~{admin/fragments/footPage :: footPage}"></div>
</body>
</html>

-->