<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragmento de scripts para listados -->
<div th:fragment="footList">
    <!-- jQuery primero -->
    <script th:src="@{/admin/assets/libs/jquery/jquery.min.js}"></script>

    <!-- Luego, carga las bibliotecas necesarias para DataTables -->
    <script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/assets/libs/metismenu/metisMenu.min.js}"></script>
    <script th:src="@{/admin/assets/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/admin/assets/libs/node-waves/waves.min.js}"></script>

    <!-- Plugin js -->
    <script th:src="@{/admin/assets/libs/moment/min/moment.min.js}"></script>
    <script th:src="@{/admin/assets/libs/jquery-ui-dist/jquery-ui.min.js}"></script>
    <!--
    <script th:src="@{/admin/assets/libs/@fullcalendar/core/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/bootstrap/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/daygrid/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/timegrid/main.min.js}"></script>
    <script th:src="@{/admin/assets/libs/@fullcalendar/interaction/main.min.js}"></script>
    -->

    <script th:src="@{/admin/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/admin/assets/libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/admin/assets/libs/jszip/jszip.min.js}"></script>
    <script th:src="@{/admin/assets/libs/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/admin/assets/libs/pdfmake/build/vfs_fonts.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/admin/assets/libs/datatables.net-select/js/dataTables.select.min.js}"></script>

    <!-- Datatable init js -->
    <script th:src="@{/admin/assets/js/pages/datatables.init.js}"></script>

    <!-- Script final de la app -->
    <script th:src="@{/superadmin/assets/js/app.js}"></script>

    <!-- Script para inicializar flatpickr -->
    <script>
        flatpickr("#inicio", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });

        flatpickr("#fin", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            minuteIncrement: 30,
            time_24hr: false,
            allowInput: false
        });
    </script>

    <!-- Script para inicializar el sidebar -->
    <script>
        $(document).ready(function () {
            // Inicializa DataTable para la tabla de trabajadores
            $('#establecimientosTable').DataTable({
                scrollX: true, // Habilita scroll horizontal
                responsive: true,
                dom: 'Bfrtip',
                buttons: ['excel', 'csv', 'pdf'],
                keyTable: true
            });
        });
    </script>
</div>
</html>