<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/topbarCoordinador :: head('Nueva Observación')}"></head>
    <body data-sidebar="dark" class="vertical-collpsed">
        <div id="layout-wrapper">
            <div th:replace="~{fragments/topbarCoordinador :: topbar('Nueva Observación')}"></div>
            <div th:replace="~{fragments/sidebarCoordinador :: sidebar('observaciones')}"></div>

            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3 fw-semibold">Formulario de creación</h4>
                                        <form th:action="@{/coordinador/observacionGuardar}" method="post" th:object="${observacionForm}" enctype="multipart/form-data">
                                            <input type="hidden" th:field="*{observacionId}" />
                                            <input type="hidden" th:if="${asistenciaId != null}" th:name="asistenciaId" th:value="${asistenciaId}" />
                                            <!-- Mostrar errores globales -->
                                            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
                                                <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="establecimientoDeportivo" class="form-label">Establecimiento deportivo</label>
                                                        <input id="establecimientoDeportivo" type="text" th:field="*{espacioDeportivo.establecimientoDeportivo.establecimientoDeportivoNombre}" class="form-control" readonly disabled/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="servicioDeportivo" class="form-label">Espacio deportivo</label>
                                                        <input id="servicioDeportivo" type="text" th:field="*{espacioDeportivo.nombre}" class="form-control" readonly disabled/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <label for="nivelUrgencia" class="form-label">Nivel de urgencia <span style="color: red;">*</span></label>
                                                        <select id="nivelUrgencia" th:field="*{nivelUrgencia}" class="form-select" th:classappend="${#fields.hasErrors('nivelUrgencia')} ? 'is-invalid' : ''">
                                                            <option value="">Seleccione un nivel</option>
                                                            <option th:each="urgencia : ${T(com.example.telelink.entity.Observacion.NivelUrgencia).values()}" th:value="${urgencia}" th:text="${#strings.capitalize(urgencia)}"></option>
                                                        </select>
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nivelUrgencia')}" th:errors="*{nivelUrgencia}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="descripcion" class="form-label">Descripción <span style="color: red;">*</span></label>
                                                        <textarea id="descripcion" th:field="*{descripcion}" class="form-control" rows="5" style="resize: none;" th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : ''"></textarea>
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label for="foto" class="form-label">Evidencia fotográfica <span style="color: red;">*</span></label>
                                                        <input id="foto" type="file" name="foto" class="form-control" th:classappend="${#fields.hasErrors('fotoUrl')} ? 'is-invalid' : ''" />
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fotoUrl')}" th:errors="*{fotoUrl}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button class="btn btn-primary me-3" type="submit">Guardar</button>
                                                <a th:href="@{/coordinador/observaciones}" class="btn btn-secondary ms-3">Cancelar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="~{fragments/topbarCoordinador :: footer}"></footer>
            </div>

            <!--<div class="sidebar-overlay"></div>-->

            <div th:replace="~{fragments/topbarCoordinador :: scripts}"></div>
            <script th:src="@{/assets/js/pages/form-validation.init.js}"></script>
            <script th:src="@{/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
            <script th:src="@{/assets/js/pages/form-element.init.js}"></script>
            <script th:src="@{/superadmin/assets/js/app.js}"></script>
        </div>
    </body>
</html>