<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body data-sidebar="dark">
        <!-- Begin page -->
        <div id="layout-wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu" th:fragment="sidebar(activeItem)">
                <div data-simplebar class="h-100">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">MENÚ</li>

                            <li th:class="${activeItem == 'inicio' ? 'mm-active' : ''}">
                                <a th:href="@{/coordinador/inicio}" class="waves-effect">
                                    <i class="ri-dashboard-line"></i>
                                    <span>Inicio</span>
                                </a>
                            </li>

                            <li th:class="${activeItem == 'perfil' ? 'mm-active' : ''}">
                                <a th:href="@{/coordinador/perfil}" class="waves-effect">
                                    <i class="ri-account-circle-line"></i>
                                    <span>Perfil</span>
                                </a>
                            </li>

                            <li th:class="${activeItem == 'espacios' ? 'mm-active' : ''}">
                                <a th:href="@{/coordinador/espacios-deportivos}" class="waves-effect">
                                    <i class="ri-basketball-line"></i>
                                    <span>Espacios deportivos</span>
                                </a>
                            </li>

                            <li class="menu-title">ACTIVIDAD</li>

                            <li th:class="${activeItem == 'asistencia' ? 'mm-active' : ''}">
                                <a th:href="@{/coordinador/asistencia}" class="waves-effect">
                                    <i class="ri-calendar-check-line"></i>
                                    <span>Asistencia</span>
                                </a>
                            </li>

                            <li th:class="${activeItem == 'observaciones' ? 'mm-active' : ''}">
                                <a th:href="@{/coordinador/observaciones}" class="waves-effect">
                                    <i class="ri-eye-line"></i>
                                    <span>Observaciones</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
        </div>
        <!-- END layout-wrapper -->

        <div class="sidebar-overlay"></div>

    </body>

    <!-- Mirrored from themesdesign.in/nazox/layouts/calendar.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 30 Aug 2024 19:31:20 GMT -->
</html>