<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/headList.html :: headList(title='Información del Establecimiento Deportivo')}">
    <meta charset="UTF-8">
    <title>Información del Establecimiento</title>
</head>
<body data-sidebar="dark" class="vertical-collpsed">
<div id="layout-wrapper">

    <div th:replace="~{admin/fragments/layoutSuperior :: layoutSuperior(titulo='Establecimientos deportivos')}"></div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-lg-12 align-items-center">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title mb-4 fw-semibold mt-3">Información del Establecimiento Deportivo</h4>

                                <!-- Foto del establecimiento -->
                                <div class="mb-4">
                                    <label class="form-label">Foto del establecimiento</label>
                                    <img th:src="${establecimiento.fotoEstablecimientoUrl != null} ? ${establecimiento.fotoEstablecimientoUrl} : 'https://media-cdn.tripadvisor.com/media/photo-s/12/34/6a/8f/cancha-de-futbol-redes.jpg'"
                                         style="max-height: 200px; display: block;" alt="Foto del establecimiento"/>
                                </div>

                                <!-- Nombre del establecimiento -->
                                <div class="mb-4">
                                    <label class="form-label">Nombre del establecimiento</label>
                                    <input type="text" class="form-control border-0 bg-light"
                                           th:value="${establecimiento.establecimientoDeportivoNombre}"
                                           readonly disabled />
                                </div>

                                <!-- Descripción -->
                                <div class="mb-4">
                                    <label class="form-label">Descripción</label>
                                    <textarea class="form-control border-0 bg-light" rows="3"
                                              th:text="${establecimiento.descripcion}"
                                              readonly disabled></textarea>
                                </div>

                                <!-- Dirección -->
                                <div class="mb-4">
                                    <label class="form-label">Dirección</label>
                                    <input type="text" class="form-control border-0 bg-light"
                                           th:value="${establecimiento.direccion}"
                                           readonly disabled />
                                </div>

                                <!-- Espacios de estacionamiento -->
                                <div class="mb-4">
                                    <label class="form-label">Espacios de estacionamiento</label>
                                    <input type="number" class="form-control border-0 bg-light"
                                           th:value="${establecimiento.espaciosEstacionamiento}"
                                           readonly disabled />
                                </div>

                                <!-- Teléfono de contacto and Correo de contacto -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label">Teléfono de contacto</label>
                                                                                    <input type="text" class="form-control border-0 bg-light"
                                                                                           th:value="${establecimiento.telefonoContacto}"
                                                                                           readonly disabled />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Correo de contacto</label>
                                        <input type="email" class="form-control border-0 bg-light"
                                               th:value="${establecimiento.correoContacto}"
                                               readonly disabled />
                                    </div>
                                </div>

                                <!-- Geolocalización -->
                                <div class="mb-4">
                                    <label class="form-label">Geolocalización (lat,long)</label>
                                    <input type="text" class="form-control border-0 bg-light"
                                           th:value="${establecimiento.geolocalizacion}"
                                           readonly disabled />
                                </div>

                                <!-- Horario de apertura and Horario de cierre -->
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label class="form-label">Horario de apertura</label>
                                        <input type="text" class="form-control border-0 bg-light"
                                               th:value="${establecimiento.horarioApertura}"
                                               readonly disabled />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Horario de cierre</label>
                                        <input type="text" class="form-control border-0 bg-light"
                                               th:value="${establecimiento.horarioCierre}"
                                               readonly disabled />
                                    </div>
                                </div>

                                <!-- Estado -->
                                <div class="mb-4">
                                    <label class="form-label">Estado</label>
                                    <input type="text" class="form-control border-0 bg-light"
                                           th:value="${#strings.capitalize(establecimiento.estado.name())}"
                                           readonly disabled />
                                </div>

                                <!-- Motivo de mantenimiento -->
                                <div class="mb-4" th:if="${establecimiento.estado.name() == 'mantenimiento'}">
                                    <label class="form-label">Motivo de mantenimiento</label>
                                    <textarea class="form-control border-0 bg-light" rows="2"
                                              th:text="${establecimiento.motivoMantenimiento}"
                                              readonly disabled></textarea>
                                </div>

                                <br>

                                <!-- Lista de Espacios Deportivos -->
                                <div class="mb-4">
                                    <h4 class="card-title mb-4 fw-semibold mt-3">Espacios Deportivos Asociados</h4>
                                    <div class="table-responsive">
                                        <table class="table table-centered datatable dt-responsive nowrap"
                                               data-bs-page-length="6"
                                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Servicio Deportivo</th>
                                                <th>Estado</th>
                                                <th>Acción</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="espacio : ${espacios}">
                                                <td th:text="${espacio.nombre}"></td>
                                                <td th:text="${espacio.servicioDeportivo?.servicioDeportivo} ?: 'N/A'"></td>
                                                <td th:text="${#strings.capitalize(espacio.estadoServicio.name())}"></td>
                                                <td>
                                                <a th:href="@{/admin/espacios/calendario(id=${espacio.espacioDeportivoId})}"
                                                   class="btn btn-outline-secondary btn-sm edit" title="Calendario">
                                                    <i class="fas fa-calendar"></i>
                                                </a>
                                                <a th:href="@{/admin/espacios/detalle(id=${espacio.espacioDeportivoId})}"
                                                   class="btn btn-outline-secondary btn-sm edit" title="Ver Detalles">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                </td>
                                            </tr>
                                            <tr th:if="${espacios == null or #lists.isEmpty(espacios)}">
                                                <td class="text-center">No hay espacios deportivos asociados.</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Botones -->
                                <a th:href="@{/admin/establecimientos/editar(id=${establecimiento.establecimientoDeportivoId})}" class="btn btn-primary">Editar información</a>
                                <a th:href="@{/admin/establecimientos}" class="btn btn-secondary ms-2">Volver a la lista</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{admin/fragments/footer.html :: footer}"></div>
    </div>
</div>

<div class="sidebar-overlay"></div>
<div th:replace="~{admin/fragments/footList.html :: footList}"></div>
<script th:src="@{/assets/js/pages/espaciosAdmin.init.js}"></script>
</body>
</html>