<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/headList.html :: headList(title='Lista de establecimientos deportivos')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body data-sidebar="dark" class="vertical-collpsed">

<!-- Begin page -->
<div id="layout-wrapper">

<!--

<div th:replace="~{admin/fragments/header.html :: header}"></div>

<div th:replace="~{admin/fragments/sidebar.html :: sidebar}"></div>

-->

<div th:replace="~{admin/fragments/layoutSuperior :: layoutSuperior(titulo='Establecimientos deportivos')}"></div>


<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="card mb-0">
                        <div class="card-body">
                                            <!-- Contenedor de botones para "Nuevo Establecimiento" y "Nuevo Espacio Deportivo" con más espacio -->
                                            <div class="d-flex mb-3">
                                                <a th:href="@{/admin/establecimientos/nuevo}" class="btn btn-primary me-3 mb-2">
                                                    <i class="mdi mdi-domain-plus me-1"></i> Nuevo Establecimiento
                                                </a>
                                                <a th:href="@{/admin/espacios/nuevo}" class="btn btn-success mb-2">
                                                    <i class="mdi mdi-soccer-field me-1"></i> Nuevo Espacio Deportivo
                                                </a>
                                            </div>

                                            <!-- Tabla responsive -->
                                            <div class="table-responsive">
                                                <table class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="6" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                    <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Dirección</th>
                                                        <th>Teléfono</th>
                                                        <th>Correo</th>
                                                        <th>Horario</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="establecimiento : ${establecimientos}">
                                                        <td th:text="${establecimiento.establecimientoDeportivoNombre}"></td>
                                                        <td th:text="${establecimiento.direccion}"></td>
                                                        <td th:text="${establecimiento.telefonoContacto}"></td>
                                                        <td th:text="${establecimiento.correoContacto}"></td>
                                                        <td th:text="${establecimiento.horarioApertura} + ' - ' + ${establecimiento.horarioCierre}"></td>

                                                        <td>
                                                            <a href="#" class="btn btn-outline-secondary btn-sm edit" title="Calendario">
                                                                <i class="fas fa-calendar"></i>
                                                            </a>
                                                            <a th:href="@{/admin/establecimientos/info(id=${establecimiento.establecimientoDeportivoId})}" class="btn btn-outline-secondary btn-sm edit" title="Ver">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                            <a th:href="@{/admin/establecimientos/editar(id=${establecimiento.establecimientoDeportivoId})}" class="btn btn-outline-secondary btn-sm edit" title="Editar">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->



    <!-- Footer -->
    <div th:replace="~{admin/fragments/footer.html :: footer}"></div>


</div>
<!-- end main content-->


</div>
<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="sidebar-overlay"></div>


<!-- Incluir los scripts del listado -->
<div th:replace="~{admin/fragments/footList.html :: footList}"></div>
    <script th:src="@{/assets/js/pages/establecimientosAdmin.init.js}"></script>

</body>
</html>