<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/fragments/headList.html :: headList(title='Lista de observaciones de coordinador')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body data-sidebar="dark">

<!-- Begin page -->
<div id="layout-wrapper">

    <!--

    <div th:replace="~{admin/fragments/header.html :: header}"></div>

    <div th:replace="~{admin/fragments/sidebar.html :: sidebar}"></div>

    -->

    <div th:replace="~{admin/fragments/layoutSuperior :: layoutSuperior(titulo='Observaciones')}"></div>


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-lg-11 align-items-center">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">

                                                <!-- Título y descripción con mayor tamaño -->
                                                <div class="d-flex flex-wrap justify-content-between align-items-start mb-3">
                                                    <div class="mb-2">
                                                        <h4 class="card-title" style="font-size: 1.8rem; font-weight: 600;">Lista de Coordinadores Deportivos</h4>
                                                    </div>
                                                    <div class="mb-2" style="font-size: 1.1rem; color: #6c757d;">
                                                        Consulta la información de los trabajadores asignados a los establecimientos deportivos. Puedes acceder a su calendario o contactar directamente.
                                                    </div>
                                                </div>

                                                <!-- Formulario para filtrar por nivel de urgencia -->
                                                <!--<form action="/admin/observaciones" method="get">
                                                    <label for="nivel">Filtrar por Nivel de Urgencia:</label>
                                                    <select name="nivel" id="nivel" onchange="this.form.submit()">
                                                        <option value="sinFiltro" th:selected="${nivel == 'sinFiltro'}">Sin filtros</option>
                                                        <option value="bajo" th:selected="${nivel == 'bajo'}">Bajo</option>
                                                        <option value="medio" th:selected="${nivel == 'medio'}">Medio</option>
                                                        <option value="alto" th:selected="${nivel == 'alto'}">Alto</option>
                                                    </select>
                                                </form>-->
                                                <!-- Formulario para filtrar por nivel de urgencia -->
                                                <form action="/admin/observaciones" method="get">
                                                    <label for="nivel">Filtrar por Nivel de Urgencia:</label>
                                                    <select name="nivel" id="nivel" onchange="this.form.submit()">
                                                        <option value="sin_filtro" th:selected="${nivelSeleccionado == 'sin_filtro'}">Sin filtros</option>
                                                        <option value="bajo" th:selected="${nivelSeleccionado == 'bajo'}">Bajo</option>
                                                        <option value="medio" th:selected="${nivelSeleccionado == 'medio'}">Medio</option>
                                                        <option value="alto" th:selected="${nivelSeleccionado == 'alto'}">Alto</option>
                                                    </select>
                                                </form>

                                                <div class="table-responsive">

                                                    <table id="establecimientosTable" class="table table-striped table-bordered nowrap w-100">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Descripción</th>
                                                            <th>Fecha de Creación</th>
                                                            <th>Fecha de Actualización</th>
                                                            <th>Nivel de Urgencia</th>
                                                            <th>Espacio Deportivo</th>
                                                            <th>Coordinador</th>
                                                            <th>Comentario Administrador</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- Iterar sobre las observaciones que se pasen desde el controlador -->
                                                        <tr th:each="observacion : ${observaciones}">
                                                            <td th:text="${observacion.observacionId}"></td>
                                                            <td th:text="${observacion.descripcion}"></td>
                                                            <td th:value="${#temporals.format(observacion.fechaCreacion, 'dd/MM/yyyy HH:mm')}"></td>
                                                            <td th:value="${#temporals.format(observacion.fechaActualizacion, 'dd/MM/yyyy HH:mm')}"></td>
                                                            <td th:text="${#strings.capitalize(observacion.nivelUrgencia.name().toLowerCase())}"></td>
                                                            <td th:text="${observacion.espacioDeportivo.nombre}"></td>
                                                            <td th:text="${observacion.coordinador.nombres}"></td>
                                                            <td th:text="${observacion.comentarioAdministrador}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>



                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->



        <!-- Footer -->
        <div th:replace="~{admin/fragments/footer.html :: footer}"></div>


    </div>
    <!-- end main content-->


</div>
<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>


<!-- Incluir los scripts del listado -->
<div th:replace="~{admin/fragments/footList.html :: footList}"></div>




</body>
</html>

