<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/fragments/headList.html :: headList(title='Lista de pagos')}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body data-sidebar="dark" class="vertical-collpsed">

<!-- Begin page -->
<div id="layout-wrapper">

  <!--

  <div th:replace="~{admin/fragments/header.html :: header}"></div>

  <div th:replace="~{admin/fragments/sidebar.html :: sidebar}"></div>

  -->

  <div th:replace="~{admin/fragments/layoutSuperior :: layoutSuperior(titulo='Pagos')}"></div>


  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">

    <div class="page-content">
      <div class="container-fluid">
        <div class="row mb-4">
          <div class="col-lg-12">
            <div class="card mb-0">
              <div class="card-body">

                        <!-- Tabla responsive -->
                <div class="table-responsive">
                  <table class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="6" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                            <tr>
                              <th>Usuario</th>
                              <th>Establecimiento deportivo</th>
                              <th>Monto</th>
                              <th>Estado</th>
                              <th>Fecha y hora</th>
                              <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="pago : ${pagosPendientes}">
                              <td th:text="${pago.reserva.usuario.nombres} + ' ' + ${pago.reserva.usuario.apellidos}"></td>
                              <td th:text="${pago.reserva.espacioDeportivo.establecimientoDeportivo.establecimientoDeportivoNombre}"></td>
                              <td th:text="'S/ ' + ${pago.monto}"></td>
                              <td>
                                <span th:switch="${pago.estadoTransaccion.name()}">
                            <span th:case="'pendiente'" class="badge bg-warning">Pendiente</span>
                            <span th:case="'fallido'" class="badge bg-danger">Fallido</span>
                            <span th:case="'completado'" class="badge bg-success">Completado</span>
                        </span>
                              </td>
                              <td th:text="${#temporals.format(pago.fechaPago, 'dd/MM/yyyy HH:mm')}"></td>
                              <td>
                                <a th:href="@{/admin/pagos/aceptar(id=${pago.pagoId})}" class="btn btn-outline-secondary btn-sm edit" title="Aceptar">
                                  <i class="fas fa-check"></i>
                                </a>
                                <a th:href="@{/admin/pagos/rechazar(id=${pago.pagoId})}" class="btn btn-outline-secondary btn-sm edit" title="Rechazar">
                                  <i class="fas fa-times"></i>
                                </a>
                                <a th:href="@{/admin/pagos/ver(id=${pago.pagoId})}" class="btn btn-outline-secondary btn-sm edit" title="Ver">
                                  <i class="fas fa-eye"></i>
                                </a>
                              </td>
                            </tr>


                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div> <!-- end col -->
                </div> <!-- end row -->

              </div>
            </div>
          </div>
        </div>
      </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->



    <!-- Footer -->
    <div th:replace="~{admin/fragments/footer.html :: footer}"></div>


  </div>
  <!-- end main content-->


</div>
<!-- END layout-wrapper -->

<!-- Right bar overlay-->
<div class="sidebar-overlay"></div>


<!-- Incluir los scripts del listado -->
<div th:replace="~{admin/fragments/footList.html :: footList}"></div>
  <script th:src="@{/assets/js/pages/pagosAdmin.init.js}"></script>

</body>
</html>