<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Usuarios</title>
        <th:block th:replace="~{Superadmin/fragments/head :: head(title='Usuarios')}"></th:block>
    </head>
    <body data-sidebar="dark" class="vertical-collpsed">
        <div th:replace="~{Superadmin/fragments/header :: header(title='Gestión de Usuarios')}"></div>
        <div th:replace="~{Superadmin/fragments/sidebar :: sidebar}"></div>

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Tarjetas de estadísticas -->
                    <div class="row">
                        <!-- Card Usuarios baneados -->
                        <div class="col-md-4">
                            <div class="card" style="background: linear-gradient(90deg, #f47d56, #ffb98a);">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="text-truncate font-size-16 mb-2 text-white">Usuarios baneados</p>
                                            <div>
                                                <h4 class="mb-0 text-white d-inline-block me-2" th:text="${usuariosBaneados}">0</h4>
                                                <span class="d-inline text-white">actualmente</span>
                                            </div>
                                        </div>
                                        <div class="text-white ms-auto">
                                            <i class="ri-user-forbid-line font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-top py-3">
                                    <div class="text-truncate">
                    <span class="badge bg-danger-subtle text-danger font-size-11">
                        <i class="mdi mdi-menu-up"></i>
                        <span>0%</span>
                    </span>
                                        <span class="text-white ms-2">Con respecto al mes pasado</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Nuevos usuarios -->
                        <div class="col-md-4">
                            <div class="card" style="background: linear-gradient(90deg, #40b370, #8df6b7);">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="text-truncate font-size-16 mb-2 text-white">Nuevos usuarios</p>
                                            <div>
                                                <h4 class="mb-0 text-white d-inline-block me-2" th:text="${nuevosUsuariosEsteMes}">0</h4>
                                                <span class="d-inline text-white">este mes</span>
                                            </div>
                                        </div>
                                        <div class="text-white ms-auto">
                                            <i class="ri-user-add-line font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-top py-3">
                                    <div class="text-truncate">
                                            <span class="badge bg-success-subtle text-success font-size-11">
                                                <i class="mdi mdi-menu-up"></i>
                                                <span>0%</span>
                                            </span>
                                        <span class="ms-2 text-white">Con respecto al mes pasado</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Usuarios activos -->
                        <div class="col-md-4">
                            <div class="card" style="background: linear-gradient(90deg, #3ab2c3, #8ce5f3);">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-1 overflow-hidden">
                                            <p class="text-truncate font-size-16 mb-2 text-white">Usuarios activos</p>
                                            <div>
                                                <h4 class="mb-0 text-white d-inline-block me-2" th:text="${totalUsuarios}">0</h4>
                                                <span class="d-inline text-white">actualmente</span>
                                            </div>
                                        </div>
                                        <div class="text-white ms-auto">
                                            <i class="ri-user-line font-size-24"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-top py-3">
                                    <div class="text-truncate">
                    <span class="badge bg-success-subtle text-success font-size-11">
                        <i class="mdi mdi-menu-up"></i>
                        <span>0%</span>
                    </span>
                                        <span class="text-white ms-2">Con respecto al mes pasado</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tabla de usuarios -->
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Lista de Usuarios</h4>
                                    <p class="card-title-desc mb-0">
                                        Lista de usuarios de la plataforma San Miguel
                                    </p>
                                    <div class="table-responsive">
                                        <table id="alternative-page-datatable" class="table dt-responsive nowrap w-100 display" style="display: none;">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40px">ID</th>
                                                    <th>Nombre</th>
                                                    <th>Rol</th>
                                                    <th>DNI</th>
                                                    <th>Correo Electrónico</th>
                                                    <th>Celular</th>
                                                    <th>Fecha creación</th>
                                                    <th>Estado</th>
                                                    <th style="width: 20px">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="usuario : ${usuarios}">
                                                    <td th:text="${usuario.usuarioId}"></td>
                                                    <td>
                                                        <img th:src="${usuario.fotoPerfilUrl != null ? usuario.fotoPerfilUrl : '/assets/images/users/avatar-3.jpg'}"
                                                             alt="foto_perfil" class="avatar-xs rounded-circle me-2">
                                                        <span th:text="${usuario.nombres + ' ' + usuario.apellidos}"></span>
                                                    </td>
                                                    <td th:text="${usuario.rol.getRol()}"></td>
                                                    <td th:text="${usuario.dni}"></td>
                                                    <td th:text="${usuario.correoElectronico}"></td>
                                                    <td th:text="${usuario.telefono ?: 'No registrado'}"></td>
                                                    <td th:text="${#temporals.format(usuario.fechaCreacion, 'dd/MM/yyyy')}"></td>
                                                    <td>
                                                    <span th:switch="${usuario.estadoCuenta.name()}">
                                                        <span th:case="'activo'" class="badge  bg-success-subtle text-success font-size-12">Activo</span>
                                                        <span th:case="'baneado'" class="badge  bg-danger-subtle text-danger font-size-12">Baneado</span>
                                                        <span th:case="'pendiente'" class="badge bg-warning-subtle text-warning font-size-12">Pendiente</span>
                                                    </span>
                                                    </td>
                                                    <td>
                                                        <a th:href="@{'/superadmin/usuarios/' + ${usuario.usuarioId}}"
                                                           class="me-2 text-primary"
                                                           data-bs-container="#tooltip-container"
                                                           data-bs-toggle="tooltip"
                                                           data-bs-placement="center"
                                                           title="Detalles">
                                                            <i class="mdi mdi-eye font-size-20"></i>
                                                        </a>
                                                        <a th:href="@{'/superadmin/usuarios/editar/' + ${usuario.usuarioId}}"
                                                           class="text-warning"
                                                           data-bs-container="#tooltip-container"
                                                           data-bs-toggle="tooltip"
                                                           data-bs-placement="center"
                                                           title="Editar">
                                                            <i class="mdi mdi-pencil font-size-20"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="~{Superadmin/fragments/footer :: footer}"></th:block>
        <th:block th:replace="~{Superadmin/fragments/foot :: foot}"></th:block>

        <script>


            $(document).ready(function() {
                // Muestra el símbolo de carga
                $("#loading").show();

                // Inicializa DataTable
                var table = $('#alternative-page-datatable').DataTable({
                    "columnDefs": [
                        {
                            "targets": [-1,0], // Aplica a la última columna (puedes usar el índice adecuado si no es la última)
                            "orderable": false // Desactiva el ordenamiento
                        },
                    ],
                    "pageLength": 5,  // Fija el número de registros a mostrar
                    "lengthChange": false,
                    pagingType: "full_numbers",
                    "info": true,  // Habilita la información de las entradas mostradas
                    "language": {
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",  // Personaliza el texto
                        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",  // Mensaje cuando no hay datos
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)"  // Información adicional sobre el filtrado
                    },
                    "initComplete": function() {
                        // Oculta el símbolo de carga y muestra la tabla cuando los datos hayan sido procesados y renderizados
                        $(".loader-container").hide();  // Ocultamos el indicador de carga
                        $('#alternative-page-datatable').show();  // Mostramos la tabla
                    },
                    drawCallback: function () {
                        $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
                    }
                });

                // Asegúrate de que la tabla esté inicialmente oculta
                table.hide();
            });

        </script>
    </body>
</html>